* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  width: 90%;
  height: 80%;
  background-color: #e6e0e4;
}

.bg canvas {
  transition: opacity 0.2s ease-in-out;
}

.bg.fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.panel {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.panel-value {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel-value input {
  width: 100px;
}

.dispMap {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}
